@media(min-width: 768px) {
    .field-label-responsive {
        padding-top: .5rem;
        text-align: right;
    }
}
.allRow .maxHeight {
    max-height: 83vh;
    overflow: scroll;
}
nav {
    position: fixed;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #FFF;
}

::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
    background-color: #FFF;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #FB8C00;
}

/*side button css*/
.sideButton .dropdown-menu {
    min-width: 0 !important;
    left: -22px !important;
    top : -10px !important;
    font-size: 30px;
}
.dropup {
    position: absolute;
    right : 60px;
    bottom: 50px;
    height: 40px !important;
    width: 50px !important;
}
.sideButton  .dropup button {
    border-radius: 100% !important;
    z-index: 1001;
}
.sideButton  .dropdown-menu a {
    border-radius: 1000%;
}

/*welcome page css*/
.mainSideBar {
    padding-left: 10px;
}
.mainSideBar .list-group {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px !important;
}
.mainSideBar .list-group:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.mainSideBar .list-group a{
    padding: 3px 20px;
    text-align: center;
}
.mainSideBar h5 {
    text-align: center;
    padding-top: 20px;
}

/*timeline css*/

.card img {
    max-height: 300px;
}
.allRow .allCards {
    margin-bottom: 100px ;
}
.allRow .allCards card {
    padding-bottom: 20px !important;
}

/*extra.php css*/
.extracss .card {
    margin-bottom: 12px;
}

/*footer.php css*/

.footer {
    width: 10%;
    margin-left: 30px;
    font-size: 16px;
}
.footer h5 {
    margin-top: 20px;
    margin-bottom: 1px;
}
.footer footerDiv {
    text-align: center;
}

/*profile.php css*/
.profilePicDiv .profileImg img {
    width: 100%;
    object-fit: cover;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.profilePicDiv{
    margin-top: 20px;
}

.profileInfoTab {
    margin-top: 30px;
}
#items{
    overflow-x: scroll;
    width: auto;
    white-space: nowrap;
}
#items .item{
    display: inline-block;
    width: 160px;
    height: 150px;
    /*border:1px solid;*/
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
}


#items .ProfilePosts {
    width: 360px !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #FB8C00 !important;
}
.nav-pills a {
    color: #555;
}
#v-pills-tabContent #v-pills-home {
    background-color: #eee;
}
.aboutProfile  {
    font-size: 15px;
    height: 150px;
    padding-top: 10px;
    padding-left: 10px;
}
.aboutProfile .leftSection {
    border-right: 1px solid rgb(0,0,0,0.05);

}
.aboutProfile .leftSection i {
    font-size: 20px;
    padding-right: 8px;
}
.aboutProfile .leftSection hr {
    margin-top: 5px;
    margin-bottom: 6px;
}
.ProfileQuote .card {
    width: 100% !important;
    background-color: #eeeeee;
    border: 0px !important;
}
.ProfileQuote .card .blockquote p    {
    font-size: 20px !important;
}